$navbar-background-color: #219ebc;
$header-color: #8ecae6;
$text-color: #ffffff;
$text-style: "Mulish", sans-serif;

$header-text-style: Helvetica, sans-serif;

$dark-blue25: rgba(0, 50, 90, 0.25);
$dark-blue50: rgba(0, 50, 90, 0.5);
