@import "../StyleVariables/mainVariables.scss";

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
}

.LogoSpan {
  display: block;
  position: relative;
  margin-left: 1rem;
  margin-right: auto;
}

.Logo {
  height: 10vw;
}

.NavigationList-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  top: 5rem;
  margin-bottom: auto;
  background-color: rgba(255, 255, 255, 0.8);
}

.NavigationList {
  ul,
  li {
    text-align: center;
    padding: 3vw;
    text-transform: uppercase;
    list-style-type: none;
    font: 600 5vw "Helvetica Neue", Helvetica, "Roboto", Arial;
  }

  li a {
    text-decoration: none;
    color: black;
    overflow: hidden; //utile?
    position: relative;
  }
}

.NavigationList-wrapper.close {
  height: 0;
  margin: 0;
  padding: 0;

  ul {
    display: none;
  }
}

@media (min-width: 501px) {
  .LogoSpan {
    margin-left: auto;
  }

  .Logo {
    height: 3rem;
  }
}

@media (min-width: 900px) {
  .NavigationList-wrapper.close,
  .NavigationList-wrapper {
    display: flex;
    align-items: center;
    height: auto;
    margin: auto;
    top: auto;
    width: auto;
    background: none;
    ul {
      display: block;
    }
  }

  .NavigationList {
    ul,
    li {
      display: inline;
      text-align: center;
      padding: 1vw;
      text-transform: uppercase;
      list-style-type: none;
      font: 600 1rem "Helvetica Neue", Helvetica, "Roboto", Arial;
    }
  }

  .underline::before {
    content: "";
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: 0.3s ease-in-out;
  }

  .underline:hover::before {
    content: "";
    position: absolute;
    width: 100%;
  }

  .LogoSpan {
    display: flex;
    position: relative;
    margin-right: 0;
  }

  .Logo {
    display: inline-block;
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2.5rem;
  }
}
